* {
  text-align: center;
}

button {
  background-color: blueviolet;
  color: white;
  border: 1px black solid;
  padding: 3px;
  border-radius: 2px;
  margin: 5px;
}

.completed {
  text-decoration: line-through;
}
